* {    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --main-background: #0f172a;
    --text-color: #e2e8f0;
    --nav-background: #020617;
    --ancoras-color: #67e8f9;
    --hover-color: #064e3b;
    --main-color:#172554;
    --button-color: #a5f3fc;
    --button-text-color:#0a0a0a;
}

body {
    background-color: var(--main-background);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
main {
    padding: 50px;
     width: 300px;
     background-color: var(--main-color);
}

h1 {
    color: var(--text-color);
}

#raio {
    margin-top: 10px;
}

button {
    margin-top: 20px;
    width: fit-content;
    padding: 10px;
    background-color: var(--button-color);
    font-weight: 700;
    color: var(--button-text-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: var(--hover-color);
    color: var(--button-text-color);
}